<html>
  <head>
  <style type="text/css">
  .button {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    font-family: Noto Sans TC,PingFang TC,Apple LiGothic Medium,Roboto,Microsoft JhengHei,Lucida Grande,Lucida Sans Unicode,sans-serif;
    width: auto;
    white-space: nowrap;
    height: 42px;
    margin: 12px 5px 12px 0;
    padding: 0 22px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #9E7A4E;
    color: #ffffff !important;
  }

  a {
    text-decoration: none;
  }

  .desc span {
    color: #040404 !important;
  }

  .desc a {
    color: #040404 !important;
  }

  </style>
  </head>
  <body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px" id="templateContainer" class="rounded6">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <!-- // BEGIN BODY -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;border-radius:6px;" id="templateBody">
            <tbody>
              <tr>
                <td align="left" valign="top" class="bodyContent">
                  <h1 style="color:#C40D23">
                    <span>歡迎登入《報導者》，開啟新聞小革命</span>
                  </h1>
		  <div>
		    <span>
                      <p class="desc" style="white-space:pre-line;color:#040404;text-decoration:none;">
			
                        <span>親愛的讀者 您好：</span><br/>
			<span>歡迎登入《報導者》網站，請在15分鐘內點擊下方按鈕完成登入。</span><br/>
		      </p>
		    </span>
		  </div>
                  <a class="button" href="{{.Href}}">
                    <span>登入《報導者》帳號</span>
                  </a>
                  <br />
                  <div>
                    <span>
                    <p class="desc" style="white-space:pre-line;color:#040404;text-decoration:none;">
                      <span>若無法透過上方按鈕完成登入，請複製以下網址到您的瀏覽器：</span><br/>
                      <span>{{.Href}}</span><br/>
                      <span>《報導者》 敬上</span><br/>
		    </p>
                    </span>
                  </div>
		  <div>
		    <span>
                      <hr style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />

		      <p style="font-size: 18px !important;color: #9C9C9C;line-height: 100%;">
		        <span style="font-size:13px;color:#888888;font-family:source sans pro,helvetica neue,helvetica,arial,sans-serif">*本信件由系統自動發出，請勿直接回覆！*</span>
		      </p>
		      <p style="font-size: 18px !important;color: #9C9C9C;line-height: 100%;">
		        <span style="font-size:13px;color:#888888;font-family:source sans pro,helvetica neue,helvetica,arial,sans-serif">若您有任何疑問或需要服務之處，歡迎透過下列方式聯繫我們，謝謝：</span>
		      </p>
			<div style="float:left">
		        <div style="font-size:13px;color:#888888;font-family:source sans pro,helvetica neue,helvetica,arial,sans-serif">客服信箱：events@twreporter.org
			</div>
		         <div style="font-size:13px;color:#888888;font-family:source sans pro,helvetica neue,helvetica,arial,sans-serif">聯絡電話：02-25363030(周一~五 09:00~18:00)
			</div>
			</div>
			<div style="width: 100px;float: right;margin-top: 10px;">
                          <a href="https://www.twreporter.org/" target="_blank"><img src="https://mcusercontent.com/4da5a7d3b98dbc9fdad009e7e/images/f3707e15-69ae-c885-f679-ca7ad9259dd1.png" style="border: 0px  ; width: 100%; height: 100%; margin: 0px;"></a>
                    	</div>
		    </span> 
		  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- END BODY \\ -->
        </td>
      </tr>
    </tbody>
  </table>
  </body>
</html>
