# go-api webservice CircleCI 2.0 configuration file
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: thereporter/circleci-go-api:latest
      - image: circleci/mongo:3.2
      - image: circleci/mysql:5.7
        environment:
          MYSQL_DATABASE: gorm
          MYSQL_HOST: localhost
          MYSQL_USER: gorm
          MYSQL_PASSWORD: gorm
          MYSQL_ROOT_HOST: "%"

    working_directory: /go/src/twreporter.org/go-api

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - dependencies-{{ checksum "glide.lock" }}
          # fallback to using the latest cache if no exact match is found
          - dependencies-

      - run: glide install

      - save_cache:
          paths:
            - vendor
          key: dependencies-{{ checksum "glide.lock" }}

      # run tests!
      - run: go test $(glide novendor)
      - run:
          name: Save pkg version to a file
          command: go run ./.circleci/scripts/read-changelog.go > .pkg-version

      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: v1-build-{{ checksum ".circle-sha" }}
          paths:
            - /go/src/twreporter.org/go-api

  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Create working directory
          command: |
            sudo mkdir -p /go/src/twreporter.org/go-api
            sudo chown -R circleci:root /go
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - v1-build-{{ checksum ".circle-sha" }}
      - run:
          name: Connect to container cluster
          command: |
            # GOOGLE_AUTH, GOOGLE_PROJECT_ID, GOOGLE_COMPUTE_ZONE,
            # GOOGLE_STAGING_CLUSTER_NAME and GOOGLE_CLUSTER_NAME
            # is defined in Environment Variables of circleci project
            echo ${GOOGLE_AUTH} | base64 -i --decode > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/gcp-key.json"
            CLUSTER_NAME=""

            if [ "${CIRCLE_BRANCH}" == "staging" ]; then
              CLUSTER_NAME=${GOOGLE_STAGING_CLUSTER_NAME}
            fi

            if [ "${CIRCLE_BRANCH}" == "release" ]; then
              CLUSTER_NAME=${GOOGLE_CLUSTER_NAME}
            fi

            echo "CLUSTER_NAME: ${CLUSTER_NAME}"
            echo "CLUSTER_NAME=${CLUSTER_NAME}" > circle_ci_local_env
            gcloud --quiet container clusters get-credentials $CLUSTER_NAME

      - run:
          name: Install kubectl
          command: |
            source circle_ci_local_env
            echo "CLUSTER_NAME: ${CLUSTER_NAME}"
            KUBECTL_VERSION="$(gcloud container clusters describe ${CLUSTER_NAME} | sed -n 's/.*currentMasterVersion:[ ]*\(.*\)-\(.*\)/\1/p')"
            echo "KUBECTL_VERSION=${KUBECTL_VERSION}"
            curl -LO https://storage.googleapis.com/kubernetes-release/release/v${KUBECTL_VERSION}/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl

      - run:
          name: Build, push and deploy Docker image
          command: |
            cd /go/src/twreporter.org/go-api
            PKG_VER="$(cat .pkg-version)"

            if [ "${CIRCLE_BRANCH}" == "staging" ]; then
              # pkg version for staging
              PKG_VER="staging-$(cat .pkg-version)-$CIRCLE_BUILD_NUM"

              # config.yaml for go-api
              echo ${GO_STAGING_CONFIG} | base64 -i --decode > ./configs/config.yaml
            fi

            if [ "${CIRCLE_BRANCH}" == "release" ]; then
              # config.yaml for go-api
              echo ${GO_CONFIG} | base64 -i --decode > ./configs/config.yaml
            fi

            # aws config
            echo ${AWS_CREDENTIALS} | base64 -i --decode > ./aws_credentials

            docker build -t gcr.io/coastal-run-106202/go-api:$PKG_VER .
            gcloud docker -- push gcr.io/coastal-run-106202/go-api:$PKG_VER
            kubectl rolling-update go-api --image=gcr.io/coastal-run-106202/go-api:$PKG_VER --container=go-api

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - release
                - staging
